$substrate-bg: #475A7D;
$container-bg: #29354A;

$text-color-1: #FFFFFF;
$text-color-2: #BDDEF9;

$vertical_center: 5vh;
$horizontal_center: 5vw;
$wrapper-padding: 40px;

$btn-bg: #7A9CB8;

$shadow: 6px 4px 35px 0px rgba($color: #000000, $alpha: 0.21);
